RAKKR_CONTROLLER_URL={{ rakkr_controller_url | default('https://rakkr-controller.local') }}
RAKKR_NODE_ID={{ rakkr_node_id | default(inventory_hostname) }}
{% if rakkr_node_alias | default('') %}
RAKKR_NODE_ALIAS={{ rakkr_node_alias }}
{% endif %}
{% if rakkr_node_site | default('') %}
RAKKR_NODE_SITE={{ rakkr_node_site }}
{% endif %}
{% if rakkr_node_room | default('') %}
RAKKR_NODE_ROOM={{ rakkr_node_room }}
{% endif %}
{% if rakkr_controller_token | default('') %}
RAKKR_CONTROLLER_TOKEN={{ rakkr_controller_token }}
{% endif %}
{% if rakkr_allow_insecure_controller | default('') %}
RAKKR_ALLOW_INSECURE_CONTROLLER={{ rakkr_allow_insecure_controller }}
{% endif %}
{% if rakkr_capture_backend | default('') %}
RAKKR_CAPTURE_BACKEND={{ rakkr_capture_backend }}
{% endif %}
{% if rakkr_capture_device | default('') %}
RAKKR_CAPTURE_DEVICE={{ rakkr_capture_device }}
{% endif %}
{% if rakkr_capture_channels | default('') %}
RAKKR_CAPTURE_CHANNELS={{ rakkr_capture_channels }}
{% endif %}
{% if rakkr_capture_format | default('') %}
RAKKR_CAPTURE_FORMAT={{ rakkr_capture_format }}
{% endif %}
{% if rakkr_capture_sample_rate | default('') %}
RAKKR_CAPTURE_SAMPLE_RATE={{ rakkr_capture_sample_rate }}
{% endif %}
{% if rakkr_meter_backend | default('') %}
RAKKR_METER_BACKEND={{ rakkr_meter_backend }}
{% endif %}
RAKKR_AGENT_HEALTH_LOG_FILE={{ rakkr_agent_state_dir }}/health-events.jsonl
RAKKR_AGENT_CACHE_DIR={{ rakkr_agent_state_dir }}/cache
